NEXT_PUBLIC_API_URL=http://localhost:8000/api
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=your-naver-map-client-id

NEXT_PUBLIC_KAKAO_REST_API_KEY=your-kakao-rest-api-key
