# OpenAI
OPENAI_API_KEY=sk-proj-your-openai-api-key

# LangSmith
LANGCHAIN_TRACING=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_pt_your-langchain-api-key
LANGCHAIN_PROJECT=SKN21_final_2Team

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=skn_db
MYSQL_USER=skn_user
MYSQL_PASSWORD=skn_password
MYSQL_HOST=mysql
MYSQL_PORT=3306
