# OpenAI
OPENAI_API_KEY=your_openai_api_key

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_project_name

# Tavily
TAVILY_API_KEY=your_tavily_api_key

# Hugging Face
HF_TOKEN=your_hf_token

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=skn_db
MYSQL_USER=skn_user
MYSQL_PASSWORD=skn_password
MYSQL_HOST=mysql
# MYSQL_PORT=3306

# Qdrant
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# Google Login
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
JWT_SECRET_KEY=your_jwt_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=2000
REFRESH_TOKEN_EXPIRE_DAYS=7

# Naver Map
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret

# CORS
CORS_ORIGINS=http://localhost:3000
