fastapi
python-dotenv

uvicorn # ASGI Server
pydantic # Data Validation
pydantic[email] # Email validation

# LLM
openai
langsmith

# DB
pydbml # Database Modeling
pymysql # MySQL Connector
sqlalchemy # ORM
python-jose[cryptography] # JWT Token
passlib[bcrypt] # Password Hashing
python-multipart # File Upload
google-auth
requests

# Testing
pytest
httpx
pytest-asyncio