fastapi
python-dotenv
tqdm

uvicorn # ASGI Server
pydantic[email] # Data Validation & Email

# LLM
openai
langsmith

# DB
pydbml # Database Modeling
pymysql # MySQL Connector
sqlalchemy # ORM
python-jose[cryptography] # JWT Token
passlib[bcrypt] # Password Hashing
python-multipart # File Upload
google-auth
requests
qdrant-client
sentence-transformers
pillow

# Testing
pytest
httpx
pytest-asyncio

# Agents
langgraph
langchain
langchain-openai
langchain-community
tavily-python
langchain-tavily
